@import 'var';

.order
{
    background-color: $color_order_background;
    color: white;
    padding: 1em;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 100;

    .meal_number
    {
        padding: 0.5em 0;
        margin: 0.5em 0;
        color: $color_darkred;
    }

    .total_price
    {
        padding: 0.5em;
        text-align: center;
        border: $border_red;
        display: block;
        overflow: hidden;
    }

    .minified
    {
        p
        {
            background-color: $color_order_background_inner;
            border-radius: $border_radius_small;
            display: inline-block;
            border: $border_red;
            padding: 0.5em;
            margin: 0.5em;
        }

        .order_time
        {
            display: block;
            text-align: center;
        }

        .total_price
        {
            float: right;
        }
    }

    .maximized {

        .meals {
            overflow-y: scroll;
            max-height: 10em;
            border: $border_red;
            border-radius: $border_radius_big;
        }

        .meal {

            border-bottom: $border_red;
            background-color: $color_order_background_inner;
            overflow: hidden;


            .quantity,
            .name {
                display: inline-block;
                vertical-align: middle;
            }

            .quantity {
                background-color: $color_order_background;
                width: 2em;
                text-align: center;

                button {
                    background: none;
                    border: none;
                    color: $color_darkred;
                }
            }

            .price {
                float: right;
                padding: 1em;
            }
        }

        .meal:last-child
        {
            border: none;
        }

        .result
        {
            margin-top: 1em;
            padding-top: 1em;
            border-top: 1px solid #D94F4F;

            .confirm
            {
                background-color: white;
                color: #7B2D2B;
                padding: 0.7em;
                border-radius: $border_radius_small;
                width: 80%;
                float: left;
                margin-right: 1em;
            }
        }
    }
}
