@import 'typography';
@import 'order';
@import 'menu';

* {
    margin:0;
    padding:0;
}

body {
    color: #787775;
    text-align: center;
    background-color: #F7F7F7;
}

ul {
    list-style: none;
}

button {
    outline: none;
    border: 1px solid #ddd;
}

.clear {
    clear: both;
}

.container {
    margin: 0 auto;
    text-align: left;
}
