<div class="menu">
    <ul class="meals">
        <h2 ng-bind-html="'RESTAURANT_NAME' | translate"></h2>
        <li class="meal" ng-repeat="meal in menu.meals">
            <div class="thumbnail">
                <img class="image" ng-src="{{ meal.primaryImageUrl }}">
                <h3 class="price italic">
                    <span ng-bind-html="'CURRENCY' | translate"></span>{{ meal.price }}
                </h3>
                <h2 class="name">{{ meal.name }}</h2>
                <div class="curve"></div>
            </div>
            <p class="description">
                {{ meal.descriptionExtended ? meal.description : (meal.description | limitTo : descriptionLimit) }}
                <img ng-if="meal.description.length > descriptionLimit" ng-click="descriptionToggle($index)" src="images/expand-button.svg" />
            </p>
            <button class="add italic" ng-click="addToOrder(meal.id)" ng-bind-html="'ORDER_ADD' | translate"></button>
        </li>
    </ul>
</div>
