<div class="order" ng-controller="OrderCtrl">
    <h1 ng-bind-html="'ORDER' | translate"></h1>
    <h3 ng-bind-html="'RESTAURANT_NAME' | translate"></h3>

    <div ng-repeat="(type, array) in meals">
        <p>{{ array.length + ' ' + type + (array.length == 1 ? '' : 's') }}</p>
        <ul>
            <li class="meals" ng-repeat="meal in array">
                <div class="meal fade">
                    <div class="quantity">
                        <button ng-click="quantityUp(meal.id)">+</button>
                        <p>{{meal.quantity}}</p>
                        <button ng-click="quantityDown(meal.id)">-</button>
                    </div>
                    <p class="name">{{meal.name}}</p>
                    <p class="price">
                        <span ng-bind-html="'CURRENCY' | translate"></span>{{ meal.price }}
                    </p>
                </div>
                <div class="clear"></div>
            </li>
        </ul>
    </div>

    <div class="result">
        <button class="confirm italic" ng-bind-html="'ORDER_CONFIRM' | translate"></button>
        <p class="total_price">
            <span ng-bind-html="'CURRENCY' | translate"></span>{{ totalPrice | number : 2 }}
        </p>
    </div>
</div>
